/**
  Home
*/

.home-section{
    min-height: 65vh;
    @include mq(medium){
        min-height: 80vh;
    }
}

.home-section-image{
    width: inherit;
    display: none;
    @include mq(medium){
        display: block;
    }
}
