# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\FACULTATE\ANUL 2\SEMESTRUL 2\IP\Bureaucracy-Hacks\Web\hacks-web\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
