/**
  Buttons
*/

.button-accent-secondary{
    background-color: rgb(255, 137, 35);
    padding: 10px 30px;
    border-radius: 26.5px;
    color: white;
    text-transform: uppercase;
}

.button-accent-secondary:hover{
    background-color: rgb(242, 115, 0);
    color: white;
}

.btn-accent-primary{
    color: white;
    background-color: rgb(61, 55, 241);
    padding: 10px 30px;
    border-radius: 26.5px;
}

.btn-accent-primary:hover{
    color: white;
    background-color: rgb(70, 66, 242);
}

.document-text {
    color: blue;
    background-color: #d4d4d4;
    border-radius: 26.5px;
    text-align: center;
}

.dropdown {
    .btn-primary {
        color: #020e43;
        background-color: #d4d4d4;
        border: #d4d4d4;
    }
}

.btn-route {
    color: #fff;
    background-color: #3d37f1;
    border-color: #3d37f1;
    border-radius: 20px;
}

